html,body{

background-color: black;
font-family: monotype-grotesque-extra-con, sans-serif;
font-style: normal;
font-weight: 200;

width: 100%;
height: 100%;

margin:0;
padding:0;

}
body {
    overflow-x: hidden;
    font-family: monotype-grotesque-extra-con, sans-serif;
    font-style: normal;
    font-weight: 400;S
    font-size: .52em;
    line-height: 1em;
    color: #bfbfbf;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: #000;
}

nav img{
    margin-top: .4%;
	width: 15%;
	height: 14%;
	
	padding-left: 1%
}

nav img:hover{
    content:attr(data-text);
    position:absolute;
    left:10px;
    text-shadow:-1px 0 black;
    top:0;
    color:white;
    background:black;
    overflow:hidden;
    clip:rect(0,1000px,0,0); 
    animation:noise-anim 2s infinite linear alternate-reverse;
    -webkit-filter: invert(100%); /* Safari */
    filter: invert(100%);
  }
  

 nav input:hover {
    -webkit-filter: invert(100%); /* Safari */
    filter: invert(100%);
 
  }

@media only screen and (max-width: 576px){
    .header{
        height: 300px;
    }
}

.navlinks{
	float: right;
}
.navbar {
    background-image: url(nav.png);
    background-size: cover;
    width: 100%;
    background-color: #333; 
    position: fixed; 
    top: 0; 
    width: 100%;
    transition: top 0.3s; 
    border-bottom: 3px solid black;
    z-index: 10;
    
}

/* Style the navbar links */
.navbar input {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 0.4%;
    text-decoration: none;
    width: 4%;
    
}


header{
	
   display:grid;
   grid-template: 1fr/ 1fr ;
  width: 100%;
  height: 100%;
  background-repeat:no-repeat;
  background-size:contain;
   
  
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    top:10px;
}
.zeppelin{
    
    width: 40%;
    background-size: auto;
    left: 9px;
    position: absolute;
    top: 15%;
    animation-name: zepemotion;
    animation-duration: 40s;
   
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: inherit;
    position: absolute;
}
@keyframes zepemotion{
    from{
        left:100%;
    }
    to{
        left: -80%
    }
}
.container{
    display:grid;
    grid-template: 1fr/9% 82% 9% ;
    height: auto;
    background-image: url(fondocontenido.png);
    background-size: 33%;
}
.item{
    background-color: black
}
.box-group {
    margin: 0 auto;
    text-align: center;
    margin: 0px auto;
    max-width: 90%;
    display: block;
}
.box {
    display: inline-block;
    width: calc(25% - 25px);
    vertical-align: bottom;
    text-align: left;
    position: relative;
    
}
.box-inner {
    padding: 10px;
    height: 100%;
}
.box.image .preview, .box.image-bleed .preview {
    background-image: url(fondocards.png);
    background-size: cover;
    height: 100%;
}
.box img {
    width: 100%;
    height: auto;
}
.preview{
    background-image: url(fondocards.png);
    background-size: cover;
}
.box-inner{
    padding: 10px;
    height: 100%;
}
.preview-desc {
    padding: 32px;
}
.category {
    margin: 0 0 2px; 
    font-size: 0.8em;
    color: darkgrey;
}
.preview-img {
    padding: 10px 10px 0;
}

.title, .title-large {
    color: #787878;
    letter-spacing: -1px;
    font-size: 1.1em;
    line-height: 1.1em;
    margin-bottom: 15px;
    lin
    
}
a {
    text-decoration: none;
    background-color: transparent;
}
.puerta{
    width: 100%;

    height: auto;
}
.puerta94{
    width:100%
}
.sangria{
    width: 100%;
    height: 100px;
    
}
.sangria2{
    width: 100%;
    height: 50px;
   
}
.sangria3{
    width: 100%;
    height: .5px;
    
}

.fondofooter{
    width: 100%;
    border-top:1px solid  grey
}
footer{
    width: 100%;
    height: auto;
    background-image: url(footer.png);
    background-size: cover;
    display:inline-block;
    
   
}

.logos{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.fb{
    width:3%;
}
.ig{
    width: 3%;
}
.gmail{
    width:15%
}
.copy{
    width:15%;
}
.mail{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.i94{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .box {
        display: inline-block;
        width: calc(100% - 25px);
        vertical-align: bottom;
        text-align: left;
        position: relative;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .box {
        display: inline-block;
        width: calc(100% - 25px);
        vertical-align: bottom;
        text-align: left;
        position: relative;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .box {
        display: inline-block;
        width: calc(75% - 25px);
        vertical-align: bottom;
        text-align: left;
        position: relative;
    }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .box {
        display: inline-block;
        width: calc(50% - 25px);
        vertical-align: bottom;
        text-align: left;
        position: relative;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .box {
        display: inline-block;
        width: calc(25% - 25px);
        vertical-align: bottom;
        text-align: left;
        position: relative;
    }
}
  
 

