html,body{

    background-color: black;
    font-family: monotype-grotesque-extra-con, sans-serif;
    font-style: normal;
    font-weight: 200;
    
    width: 100%;
    height: 100%;
    
    margin:0;
    padding:0;
    
    }
   
    body {
        overflow-x: hidden;
        font-family: monotype-grotesque-extra-con, sans-serif;
        font-style: normal;
        font-weight: 400;S
        font-size: 12px;
        line-height: 12px;
        color: #bfbfbf;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        background: #000;
    }

    nav img{
        margin-top: .4%;
        width: 15%;
        height: 14%;
        
        padding-left: 1%
    }

    nav img:hover{
        content:attr(data-text);
        position:absolute;
        left:10px;
        text-shadow:-1px 0 black;
        top:0;
        color:white;
        background:black;
        overflow:hidden;
        clip:rect(0,1000px,0,0); 
        animation:noise-anim 2s infinite linear alternate-reverse;
        -webkit-filter: invert(100%); /* Safari */
        filter: invert(100%);
      }

      nav input:hover {
        -webkit-filter: invert(100%); /* Safari */
        filter: invert(100%);
     
      }

      .navlinks{
        float: right;
    }

    .navbar {
        background-image: url(nav.png);
        background-size: cover;
        width: 100%;
        background-color: #333; 
        position: fixed; 
        top: 0; 
        width: 100%;
        transition: top 0.3s; 
        border-bottom: 3px solid black;
        z-index: 10;
        
    }

    #linkNav{
        display: inline;
    }

    .navbar input {
        float: right;
        display: block;
        color: white;
        text-align: center;
        padding: 0.4%;
        text-decoration: none;
        width: 4%;
        
    }