html,body{

  
    font-family: monotype-grotesque-extra-con, sans-serif;
    font-style: normal;
    font-weight: 200;

    width: 100vw;
    height: 100%;
    
    margin:0;
    padding:0;
    
    }
    
    @keyframes trenesito{
        0%{
            left: 1500px;

        }
        100%{
            left:-9000px;
        }
    }
   
    body {
        
        font-family: monotype-grotesque-extra-con, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #bfbfbf;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        background-color: black;

        transition:  background-color 1s;
        overflow-x: hidden;

    }
main{
    width: 100vw;

 
}
    nav img{
        margin-top: .4%;
        width: 15%;
        height: 14%;
        
        padding-left: 1%
    }

    nav img:hover{
        content:attr(data-text);
        position:absolute;
        left:10px;
        text-shadow:-1px 0 black;
        top:0;
        color:white;
        background:black;
        overflow:hidden;
        clip:rect(0,1000px,0,0); 
        animation:noise-anim 2s infinite linear alternate-reverse;
        -webkit-filter: invert(100%); /* Safari */
        filter: invert(100%);
      }

      nav input:hover {
        -webkit-filter: invert(100%); /* Safari */
        filter: invert(100%);
     
      }

      .navlinks{
        float: right;
    }

    .navbar {
        background-image: url(../../img/nav.png);
        background-size: cover;
        width: 100%;
        background-color: #333; 
        position: fixed; 
        top: 0; 
        width: 100%;
        transition: top 0.3s; 
        border-bottom: 3px solid black;
        z-index: 10;
        
    }

    #linkNav{
        display: inline;
    }

    .navbar input {
        float: right;
        display: block;
        color: white;
        text-align: center;
        padding: 0.4%;
        text-decoration: none;
        width: 4%;
        
    }

    header{
        width: 100%;
        height: 95vh;
        overflow: hidden;
     
        position: relative;

    }
    .fondoeventos{
        width:100%;
    }

    .tren{
        position: absolute;
        width: 373%;
        top: 36%;
        left: 1500px;
        animation: trenesito 15s linear infinite;
    
    }

    .bordillo{
        width: 100%;
       
        background-color: black;
    }
.bordillo img{
    width: 100%;
}
    section{
        padding: 80px 0;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

section img{
    width: 27%;
    position: relative;
    border: 10px solid black
    
}
section div {
    padding: 40px;
    position: relative;
    background-color: black;
    border: 1px solid white
  }
  section:nth-child(odd) {
    flex-direction: row-reverse;
  }





    .sangria{
        width: 100%;
        height: 50px;
        
    }
    .sangria2{
        width: 100%;
        height: 25px;
       
    }
    .sangria3{
        width: 100%;
        height: .5px;
        
    }
    
    .fondofooter{
        width: 100%;
        border-top:1px solid  grey
    }
    footer{
        width: 100%;
        height: auto;
        background-image: url(../../img/footer.png);
        background-size: cover;
        display:inline-block;
        
       
    }
   
    .logos{
        width:100%;
        display: flex;
  justify-content: center;
  flex-wrap: wrap;
    }
    .fb{
        width:100%;
        cursor: pointer;
        align-self: center;
    }
    .ig{
        width: 100%;
        cursor: pointer;
        align-self: center;
    }
    .gmail{
        width:15%
    }
    .copy{
        width:15%;
    }
    .mail{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .i94{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    a {
        
        text-decoration: none;
        background-color: transparent;
     
  
    }
    #linksFooter{
        justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  width: 3%;
    }

    
@media (max-width: 960px){
    .box {
        width: calc(50% - 2px);
    }
    nav img {
        margin-top: .4%;
        width: 22%;
        height: 14%;
        padding-left: 1%;
    }
    .navbar input {
        float: right;
        display: block;
        color: white;
        text-align: center;
        padding: 0.4%;
        text-decoration: none;
        width: 6%;
        
    }
    .banner {
        width: 100%;
        position: relative;
    }
    .zeppelin {
        display:none
     }
    }
    @media (max-width: 640px){
        html{
            width: 100vw;
        }

        section img {
            width: 42%;
            position: relative;
            border: 3px solid black;
        }

        section div {
          padding: 0px;
            width: 41%;
            text-align: center;
            font-size: 8px;
            position: relative;
            background-color: black;
            border: 1px solid white;
        }
    .box {
        width: 100%;
        margin-right: 0;
    }
    .navbar{
        width: 100vw;
    }
    .ciudad-der{
        display: none;
    }
    .ciudad-izq{
        display: none;
    }
    .zeppelin {
       display:none
    }
    .navbar input {
        float: right;
        display: block;
        color: white;
        text-align: center;
        padding: 1%;
        text-decoration: none;
        width: 12%;
    }
    nav img {
        margin-top: 1.5%;
        width: 40%;
        height: 14%;
        padding-left: 1%;
    }
    #linksFooter {
        justify-content: center;
        flex-wrap: wrap;
        align-self: center;
        width: 19.6%;
    }
    .gmail {
        width: 72%;
        padding: 10px;
    }
    .puerta{
        display:none;
    }
    .copy {
        width: 53%;
    }
    }

    @media only screen and (max-width: 600px) {
        header {
            width: 100%;
            height: 27vh;
            background-image: url(../../img/fondoeventos.png);
            background-size: cover;
            position: relative;
            /* background-attachment: fixed; */
            /* background-repeat: no-repeat; */
            /* background-position: center center; */
        }
        section div {
            padding: 10px;
            max-width: 74px;
            position: relative;
            background-color: black;
            border: 1px solid white;
            
            
        }
        section img {
            width: 72%;
            position: relative;
            border: 3px solid black;
        }
        #impar{
            left: 5%;
        }
        #par{
            right: 5%;
        }
        section {
            padding: 81px 34px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
      }